body {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}

        /* CSS untuk shopping cart dropdown */
        .shopping-cart-container {
  position: absolute;
  top: 20px;
  width: 500px;
  right: 5em;
  padding: 1em;
  background-color: #fff;
  color: #000000;
  border-radius: 10px;
  z-index: 2;
  transform: scale(0);
  transform: translatey(-10px);
  opacity: 0;
  pointer-events: none;
  overflow-y: auto; /* Tambahkan properti ini */
}

.shopping-cart-container table {
  width: 100%;
  padding: 0.5em;
  padding-bottom: 2em;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2.5em;
}

.shopping-cart-container table thead th {
  padding-bottom: 10px;
  border-bottom: 1px solid #f4a512;
}

.shopping-cart-container table tbody {
  padding-bottom: 4em;
}

.shopping-cart-container table tbody td {
  padding: 0.5em;
}

/* Tampilkan dropdown saat kelas 'open' ditambahkan */
.shopping-cart-container.open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

/* Style untuk judul form */
.form-title {
  text-align: center;
  margin-bottom: 20px;
}

/* Style untuk grup form */
.form-group {
  margin-bottom: 20px;
}

/* Style untuk label */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style untuk input dan textarea */
input[type="text"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

/* Style untuk tombol submit */
.submit-btn:hover {
  background-color: #0056b3;
}

/* Style untuk tombol keranjang belanja */
.cart-btn {
  display: block;
  margin-bottom: 10px;
  padding: 0.3em;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  color: #333;
  border: 1px solid #e4a40d;
}

.cart-btn:hover,
.cart-btn:focus {
  background-color: #e4a40d;
  color: #fff;
}

/* Style untuk gambar keranjang belanja */
.cart-image {
  max-width: 120px;
}

/* Style untuk tombol hapus */
.remove {
  text-align: center;
  width: 120px;
  height: 120px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #ea332a;
  color: #daed0e;
  transition: background-color 0.3s ease-out;
}

.remove:hover,
.remove:focus {
  background-color: #b61a12;
}

      
              /* CSS untuk navbar */
              .navbar {
                  background-color: #e8a03c;
                  height: 80px;
                  padding: 10px;
                  width: 100%;
                  box-shadow: 0 10px 7px 0 rgba(0, 0, 0, 0.16),
                      0 10px 10px 0 rgba(0, 0, 0, 0.259);
                  z-index: 9;
                  position: fixed;
              }
      
              .navbar a {
                  margin-left: 50px;
                  margin-right: 20px;
              }
      
              .custom-nav .navbar-brand img {
                  width: 60px;
                  height: 60px;
              }
      
              .custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
                  color: #000000;
                  font-weight: 500;
                  text-transform: uppercase;
                  margin-left: 1em;
              }
      
              /* Responsive Styles */
              @media (max-width: 1080px) {
                  .navbar-nav .nav-link {
                      font-size: 14px;
                  }
              }
      
              @media (max-width: 992px) {
                  .custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
                      margin-left: 0;
                      margin-right: 1.5em;
                  }
      
                  .navbar-collapse {
                      background-color: #e8a03c;
                      padding: 10px;
                      position: absolute;
                      top: 75px;
                      left: 0;
                      right: 0;
                      z-index: 8;
                      display: none;
                      transition: height 0.3s ease;
                  }
      
                  .navbar-collapse.show {
                      display: block;
                  }
      
                  .navbar-nav {
                      flex-direction: column;
                  }
      
                  .navbar-nav .nav-item {
                      text-align: center;
                      margin-bottom: 10px;
                  }
              }
      
              @media (max-width: 768px) {
                  .custom-nav #navbarNav .navbar-nav .nav-item .nav-link {
                      margin-right: 0.5em;
                  }
              }

/*Home*/
.second {
  font-family: "Abril Fatface", serif;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.second::before {
  content: "";
  position: absolute;
  background: rgba(184, 130, 55, 0.532);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.second .bg-gambar {
  z-index: 0;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;

}
.second .induk {
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.second .induk .custom-section {
  margin-top: 20em;
}
.second .induk .custom-section h1 {
  font-size: 4em;
  font-weight: 400;
  white-space: nowrap;
}
.second .induk .custom-section h5 {
  font-size: 1.5em;
  font-weight: 400;
  white-space: nowrap;
}

.second .induk .img {
  margin-top: 90px;
  margin-left: 150px;
  height: auto;
  width: auto;
}
.second .induk .icon-faq .fa-solid {
  margin-top: 100px;
}

/* About */
.heading-about {
  text-align: center;
  margin: 20px auto;
}

.heading-about h1 {
  font-family: "Abril Fatface";
  padding-top: 100px;
  font-size: 50px;
  color: #000000;
  margin-bottom: 25px;
  position: relative;
}

.heading-about h1::after {
  content: "";
  width: 20%;
  height: 5px;
  display: block;
  margin: 0 auto;
  background-color: #e8a03c;
}

.heading-about p {
  font-size: 18px;
  color: #000000;
  margin-bottom: 35px;
}

.container-about {
  margin: 20px auto;
  padding: 0 15px;
}

.container-about .about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container-about .about .about-image {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}

.container-about .about .about-image img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
}

.container-about .about .about-image img:hover {
  transform: scale(1.2);
}

.container-about .about-content {
  flex: 1;
}

.container-about .about-content h2 {
  font-size: 23px;
  margin-bottom: 15px;
  color: #000000;
}

.container-about .about-content p {
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
}

.container-about .about-content .read-more {
  padding: 7px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #f89148;
  background: transparent;
  border: 2px solid #f89148;
  transition: color 0.5s, box-shadow 0.5s;
}

.container-about .about-content .read-more:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #f89148;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  .heading-about h1 {
    font-size: 36px;
  }

  .heading-about p {
    font-size: 17px;
    margin-bottom: 0;
  }

  .container-about {
    padding: 0;
  }

  .container-about .about {
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }

  .container-about .about .about-image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .container-about .about-content p {
    font-size: 16px;
  }

  .container-about .about-content .read-more {
    font-size: 16px;
  }
}

/*Menu*/
.menu{
    position: relative;
    background-color: #fbfbfb;
    width: 100%;
    height: auto;
  }
  .menu h2 {
    padding: 80px 70px;
    font-size: 50px;
    color: #000000;
    margin-bottom: 25px;
    text-align: center;
    font-family: "Abril Fatface", serif;
  }

  .menu h2::after {
    content: "";
    
    width: 20%;
    height: 5px;
    display: block;
    margin: 0 auto;
    background-color: #e8a03c;
  }
  .card-tour {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
    justify-items: center;
    padding: 0 100px;
  }
  .card-content {
    width: 300px;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 50px;
    transition: 0.2s linear;
  }
  
  .card-content:hover {
    transform: scale(1.1);
  }
  
  .card-content img {
    width: 100%;
    height: 300px;
  }
  
  .card-content h3 {
    padding: 8px 24px;
    color: #8d8d8d;
  }
  .card-des {
    padding: 0 24px;
    color: #adadad;
    margin-bottom: 15px;
  }
  .card__price {
    padding: 0 24px;
    color: #8d8d8d;
  }
  .card-bottom {
    padding: 20px 24px;
  }
  .btn_card {
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin: 5px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #f89148;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #f89148;
    box-shadow: inset 0 0 0 0 #f89148;
  }
  .btn_card:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #f89148;
  }
  .btn_card:active {
    transform: scale(0.9);
  }
  .card-link {
      margin: 10px;
    text-decoration: none;
    color: #adadad;
    float: right;
  }
  .card-link:hover {
    text-decoration: underline;
  }

  .btn-primary {
    text-align: center;
    margin: 0 auto;
    display: block;
  }

/* PopUP About*/
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
  }
  
  .popup-content {
    background-color: rgba(218, 148, 18, 0.89);
    border-radius: 10px;
    margin: 15% auto;
    padding: 30px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 19px;
    color: #000000;
  }
  
  .close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .popup-content img {
    max-width: 50%; /* Maksimum lebar gambar adalah 100% dari popup */
    max-height: 30vh; /* Maksimum tinggi gambar adalah 80% dari tinggi viewport */
    display: block; /* Menampilkan gambar sebagai blok */
    margin: 0 auto; /* Mengatur margin menjadi auto untuk memposisikan gambar ke tengah */
}

    /* CSS Testimoni */
    .fas.fa-star {
      color: yellow;
  }

  .testimoni {
      margin-top: 50px;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 10px;
  }

  .testimoni h2 {
    padding: 85px 100px;
    font-size: 50px;
    color: #000000;
    margin-bottom: 25px;
    text-align: center;
    font-family: "Abril Fatface", serif;
  }

  .testimoni h2::after {
    content: "";
    width: 20%;
    height: 5px;
    display: block;
    margin: 0 auto;
    background-color: #e8a03c;
  }

  .testimoni h5 {
    color: #000000;
}


  .testimoni .card {
      margin-bottom: 20px;
      border: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s ease;
      background-color: rgb(241, 240, 239); /* Ubah warna latar belakang kartu di sini */
  }

  .testimoni .card:hover {
      box-shadow: 0 9px 17px rgba(0, 0, 0, 0.336);
  }

  .testimoni .card-title {
      font-size: 18px;
      margin-top: 10px;
  }

  .testimoni .card-text {
      font-size: 18px;
      color: #000000;
  }

  .testimoni .card-footer {
      background-color: #e8a03c;
      border-top: none;
      padding-top: 10px;
      display: flex;
      justify-content: center; /* Memposisikan ke tengah */
  }

  .testimoni .text-muted {
      font-size: 12px;
      color: #000000;
  }


/* Style galeri */
.gallery {
  margin-top: 65px; /* margin atas */
  margin-bottom: 20px; /* margin bawah */
}

.gallery-title {
  padding: 80px 100px;
  font-size: 50px;
  color: #000000;
  margin-bottom: 25px;
  text-align: center;
  font-family: "Abril Fatface", serif;
}
.gallery-title:after {
  content: "";
  width: 20%;
  height: 5px;
  display: block;
  margin: 0 auto;
  background-color: #e8a03c;
}

.gallery-item {
  margin-bottom: 20px;
  text-align: center; /* agar teks menjadi center */
  position: relative; /* menambahkan posisi relatif */
}

.gallery-item img {
  border-radius: 10px;
  height: 400px; /* Tinggi gambar */
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease; /* menambahkan efek transisi */
}

.gallery-item:hover img {
  transform: scale(1.1); /* memperbesar gambar saat hover */
}

/* contact us */
.contact-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.contact-info {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  color: #000000;
}

.contact-info h4 {
  margin-top: 0;
}

.form-control {
  border-radius: 5px;
  margin-top: 20px;
}

.btn-primary {
  background-color: #e8a03c;
  border-color: #e8a03c;
  border-radius: 5px;
  padding: 10px 30px;
  margin-top: 10px;
}

.btn-primary:hover {
  background-color: #f9b658;
  border-color: #f6b458;
}

.title-text {
  color: #000000; 
}

.contact-label {
  color: #000000; 
  margin-top: 15px;
}

.contact-info-text {
  color: #000000; 
}

#contact .contact-content .contact-loc iframe {
  height: 200px !important;
}

 /* CSS untuk gambar */
.contact-info img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  transition: transform 0.3s ease-in-out; /* Efek hover */
}

/* Efek hover */
.contact-info img:hover {
  transform: scale(1.1);
}

.judul{
  padding: 80px 100px;
  font-size: 50px;
  color: #000000;
  margin-bottom: 25px;
  text-align: center;
  font-family: "Abril Fatface", serif;
}

/* Styling untuk bagian FAQ */
#faq {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ff8000; /* Ubah warna background ke abu-abu muda */
}

#faq h2 {
  font-size: 35px;
  color: #000000;
  text-align: center;
  font-family: "Abril Fatface", serif;
}

#faq .accordion-button {
  background-color: #ff9100; /* Ubah warna background tombol menjadi biru */
  color: #ffffff; /* Ubah warna teks tombol menjadi putih */
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease; /* Efek transisi saat hover */
}

#faq .accordion-button:hover {
  background-color: #ab6821ce; /* Warna biru yang lebih gelap saat dihover */
}

#faq .accordion-body {
  background-color: #ffffff;
  color: #000000; /* Ubah warna teks jawaban */
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#faq .accordion-item:not(:last-child) {
  margin-bottom: 20px;
}

/* Footer Styles */
footer.body {
  background-color: #e8a03c; /* Ubah warna background footer sesuai kebutuhan */
  color: #000000; /* Ubah warna teks footer sesuai kebutuhan */
  padding: 30px 0;
  margin-top: 50px;
}

footer.body h5 {
  color: #000000; /* Ubah warna teks heading sesuai kebutuhan */
}

footer.body p {
  color: #000000; /* Ubah warna teks paragraf sesuai kebutuhan */
}

footer.body a {
  color: #000000; /* Ubah warna teks link sesuai kebutuhan */
  text-decoration: none;
}

footer.body a:hover {
  text-decoration: underline; /* Efek hover pada link */
}

footer.body .social {
  list-style: none;
  padding: 0;
}

footer.body .social li {
  display: inline-block;
  margin-right: 10px;
}

footer.body .social li:last-child {
  margin-right: 0;
}

footer.body .social a i {
  font-size: 20px;
}

footer.body .social a:hover {
  color: #ffcc00; /* Ubah warna ikon pada hover sesuai kebutuhan */
}

/* Responsif untuk media sosial */
@media (max-width: 768px) {
  footer.body .social {
    text-align: center;
    margin-top: 15px;
  }

  footer.body .social li {
    margin: 0 10px;
  }
}
